@use "./variables";
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100vw;
   overflow-x: hidden;
}
.bg {
   min-height: 100vh;
   min-width: 100vw;
   background-color: variables.$dark-blue;
   position: relative;
}
a {
   text-decoration: none;
   color: variables.$dark-blue;
}
::selection {
   background-color: variables.$light-blue;
   color: variables.$white;
}
hr {
   margin: 1rem;
   border: 1px solid variables.$light-blue;
}
